//Sass Variables
//Green colour section
$color-primary: #8ee98e;
$color-primary-light: #47e44f;
$color-primary-dark: #0cf1a5;

//Yellow colour section
$color-secondary-light:#f5ce62;
$color-secondary-dark: #f75e0d;

//Blue colour section
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #2b14ff;

//Grey colour section
$color-grey-dark: #777;
$color-grey-very-dark: #313131;
$color-grey-light:#e6e6e6;

//Default colour section
$color-white:#fff;
$color-black: #8b8b8b;


//Grid Variables
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//Font
$default-font-size:1.6rem;

//SHADOW
$box-shadow-colour : rgba($color-black, .20);